.animated-button {
  animation: pulse 1s linear infinite both;
  background-color: rgb(49, 174, 212);
  color: #fff;
  margin: 32px;
  padding: 16px 32px;
  border-radius: 16px;
  border: none;
  font-size: 1.5rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
